<%  remove_submit_script = <<-EOD
      var submitButton = document.getElementById('threaded_comment_submit_#{timestamp}');
      var loadingDiv = document.createElement('div');
      loadingDiv.className = 'threaded_comment_loading';
      submitButton.parentNode.appendChild(loadingDiv);
      submitButton.parentNode.removeChild(submitButton);
    EOD
    
    remove_message_script = <<-EOD
      message = document.getElementById('no_comments_message'); 
      message.parentNode.removeChild(message);
    EOD
%>

<div class="new_threaded_comment_form" id="new_threaded_comment_<%= timestamp -%>">
<% remote_form_for( comment, :url => {:controller => "threaded_comments", :action => "create"}, :update => 'new_threaded_comment_' + timestamp, :after => remove_submit_script, :complete => remove_message_script ) do |f| %>
  <%= f.error_messages %>
  
  <%= f.hidden_field :threaded_comment_polymorphic_id -%>
  <%= f.hidden_field :threaded_comment_polymorphic_type -%>
  <%= f.hidden_field :parent_id -%>
  
  <p class="new_threaded_comment_email_confirm">
    <%= label_tag "threaded_comment[#{honeypot_name}]", 'Do not provide this unless you are a robot!' %><br />
    <%= text_field_tag "threaded_comment[#{honeypot_name}]" %>
  </p>
  
  <p class="new_threaded_comment_name">
    <%= f.label :name, name_label, :class => 'comment_name_label' -%>
    <%= f.text_field :name, :class => 'threaded_comment_name_input' %>
  </p>
  
  <p class="new_threaded_comment_email">
    <%= f.label :email, email_label, :class => 'comment_email_label' -%>
    <%= f.text_field :email, :class => 'threaded_comment_email_input' %>
  </p>
  
  <p class="new_threaded_comment_body">
    <%= f.label :body, body_label, :class => "comment_body_label" -%>
    <%= f.text_area :body, :class => 'threaded_comment_body_input' %>
  </p>
  
  <p class="new_threaded_comment_submit">
    <%= f.submit submit_title, :class => 'threaded_comment_submit_input', :id => "threaded_comment_submit_#{timestamp}" %>
  </p>
<% end %>         
</div>